<mat-card class="category">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{product.name}}</mat-card-title>
  </mat-card-header>
  <div class="image-frame">
    <img mat-card-image [src]="product.imageUrl">
  </div>

  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/products',product.id]" >Detail</a>
    <button mat-raised-button color="warn" (click)="removeClick.emit(product)">Delete</button>

  </mat-card-actions>
</mat-card>
